<div id="infoview" class="topo_hidden">
    <table>
        <tr>
            <td id="name" colspan=2 style="font-weight: bold;">stage12</td>
        </tr>
        <tr>
            <td>Guid:</td>
            <td id="guid">48294820480</td>
        </tr>
        <tr>
            <td>Type:</td>
            <td id="type">switch</td>
        </tr>
        <tr>
            <td>Ports (connected):</td>
            <td id="portcount">36 (27)</td>
        </tr>
        <tr>
            <td>Connected nodes:</td>
            <td id="connections">36</td>
        </tr>
    </table>
</div>
<svg #chart style="border:1px solid #f0f0f0;border-radius:2px;"></svg>
<!-- <H2>Legend</H2> -->
<span style="border-width: thick; border-style: solid; border-color: #aec7e8; padding: 2px">switch</span>
<span style="border-width: thick; border-style: solid; border-color: #1f77b4; padding: 2px">HCA</span>